name: Release (NPM)
on:
  push:
    branches: ['main']
jobs:
  static-checks-npm:
    uses: digicatapult/shared-workflows/.github/workflows/static-checks-npm.yml@main
    with:
      matrix_commands: '["lint", "depcheck"]'
  tests:
    uses: digicatapult/shared-workflows/.github/workflows/tests-npm.yml@main
    with:
      tests: '["test"]'
  kubo-version:
    runs-on: ubuntu-latest
    outputs:
      ipfs_tag: ${{ steps.kubo_version.outputs.IPFS_TAG }}
    steps:
      - uses: actions/checkout@v6
      - name: Get Kubo Version
        id: kubo_version
        run: |
          echo "IPFS_TAG=v$(jq .devDependencies.kubo ./package.json | sed 's/[\^"]//g')" >> $GITHUB_OUTPUT
  build-docker:
    needs: [tests, static-checks-npm, kubo-version]
    uses: digicatapult/shared-workflows/.github/workflows/build-docker.yml@main
    with:
      push_dockerhub: true
      push_ghcr: true
      build_args: |
        IPFS_TAG=${{ needs.kubo-version.outputs.ipfs_tag }}
    permissions:
      packages: write
      contents: write
      security-events: write
      actions: read
    secrets:
      DOCKERHUB_TOKEN: ${{ secrets.SQNC_DOCKERHUB_TOKEN }}
      DOCKERHUB_USERNAME: ${{ secrets.SQNC_DOCKERHUB_USERNAME }}
  release-github:
    needs: [build-docker]
    uses: digicatapult/shared-workflows/.github/workflows/release-github.yml@main
    permissions:
      contents: write
      pull-requests: read
    secrets: inherit
